    <%= form_with(model: user, url: update_index_user_path(user), local: true, method: :patch) do |f| %>
    <%= render 'shared/error_messages',object: user %>

    <%= f.label :name, class: "label-#{yield(:class_text)}" %>
    <%= f.text_field :name, class: "form-control" %>

    <%= f.label :email, class: "label-#{yield(:class_text)}" %>
    <%= f.email_field :email, class: "form-control" %>

    <%= f.label :affiliation, class: "label--#{yield(:class_text)}" %>
    <%= f.text_field :affiliation, class: "form-control" %>

    <%= f.label :employee_number, class: "label-#{yield(:class_text)}" %>
    <%= f.number_field :employee_number, class: "form-control", min: 0, max: 100 %>

    <%= f.label :uid, class: "label-#{yield(:class_text)}" %>
    <%= f.number_field :uid, class: "form-control", min: 0, max: 100  %>

    <%= f.label :password, classy: "label-#{yield(:class_text)}" %>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.label :password_confirmation, class: "label--#{yield(:class_text)}" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>

    <%= f.label :basic_work_time, class: "label-#{yield(:class_text)}" %>
    <%= f.time_field :basic_work_time, class: "form-control" %>

    <%= f.label :designated_work_start_time, class: "label-#{yield(:class_text)}" %>
    <%= f.time_field :designated_work_start_time, class: "form-control" %>

    <%= f.label :designated_work_end_time, class: "label-#{yield(:class_text)}" %>
    <%= f.time_field :designated_work_end_time, class: "form-control" %>
<div class = "post">
    <%= f.submit "更新", class: "btn btn-primary btn-block btn-user-#{yield(:class_text)}" %>
</div>    
    <% end %>