

<table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>終了予定時間</th>
        <th>翌日</th>
        <th>業務処置内容</th>
        <th>指示者確認<div class="maru size_small black">       
          <div class="letter3">印</div>
        </th>
      </tr>
    </thead>
    <tbody>
        <% css_class = 
              case $days_of_the_week[day.worked_on.wday]
                when '土'
                  'text-primary'
                when '日'
                  'text-danger'
                end
        %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td><%= attendance.time_select :started_at, {include_blank: true}, {class: "form-control bootstrap-date-only-width"} %></td>
          <td><%= check_box_tag :tomorrow %>
              <%= label_tag :tomorrow, "" %></td>
          <td><%= attendance.text_field :note, class: "form-control" %></td>
          <td><%= f.select :boss,{'上長A':1, '上長B':2}, { include_blank: '選択して下さい'}, { class: 'form-control input-sm'} %></td>
        </tr>
    </tbody>
  </table>
</div>

            <div class="center">
              <%= f.submit "変更を送信する", class: "btn btn-primary btn-overtime_request" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>