<% provide(:title, "index") %>
<h1>ユーザー一覧</h1>

 <div class="col-md-3 col-md-offset-9">
    <h5>ユーザー名検索</h5>
      <%= form_with url: users_path, method: :get, local: true do |f| %>
      <div class="form-inline">
        <div class="input-group col-xs-12 hidden-xs">
          <span class="input-group">
            <%= f.text_field :search, placeholder: 'キーワードを入力' , class: "form-control" %>
          </span>
            <%= f.submit '検索', :name => nil, class: "btn btn-primary" %>
      <% end %> 
      </div>
    </div>
  </div>

<form class="inline">
  <%= form_with(model: @user,local: true) do |f| %>
    <%= f.file_field :upload_file, class:"form-control-file"%>
    <%= link_to "CSVをインポート", '#', class: "btn btn-md btn-primary" %>
  <% end %>
</form>  


<table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
      </tr>
    </thead>

    <% @users.each do |user| %>

      <tr>
        <td>
          <% if current_user.admin? %>
            <%= link_to "削除", user, method: :delete,data: { confirm: "削除してよろしいですか？" },
                    class: "btn btn-md btn-primary" %>
          <% end %>
        </td>
        </tr>

      <tr>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </table>

    