<% provide(:title, "index") %>
<h1>ユーザー一覧</h1>


 <div class="col-md-3 col-md-offset-9">
    <h5>ユーザー名検索</h5>
      <%= form_with url: users_path, method: :get, local: true do |f| %>
      <div class="form-inline">
        <div class="input-group col-xs-12 hidden-xs">
          <span class="input-group">
            <%= f.text_field :search, placeholder: 'キーワードを入力' , class: "form-control" %>
          </span>
            <%= f.submit '検索', :name => nil, class: "btn btn-primary" %>
      <% end %> 
      </div>
    </div>
  </div>


<form class="inline">
  <%= form_with(model: @user,local: true) do |f| %>
    <%= f.file_field :upload_file, class:"form-control-file"%>
  <% end %>
<%= link_to "CSV出力", users_path(format: :csv), class: "btn btn-primary" %>
</form>  


  <% @users.each do |user| %>
    <p>
      <%= user.name %><br>
        |&nbsp<%= link_to "削除", user, method: :delete,data: { confirm: "削除してよろしいですか？" },
        class: "btn btn-primary btn-default" %><br>
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <button type="button" data-toggle="collapse" href="#collapse<%= user.id %>" 
                class="btn btn-primary">編集</button>
              </h4>
            </div>
              <div id="collapse<%= user.id %>" class="panel-collapse collapse">
                <div class="panel-body"><%= render 'form2', user: user %></div>
            </div>
          </div>
        </div>
      </p>
    <% end %>
