<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "◀︎","#",class: "btn btn-primary" %> &nbsp;&nbsp;
        【<%= l(@first_day, format: :middle) %>】
        時間管理表<%= link_to "▶︎","#",class: "btn btn-primary" %> &nbsp;&nbsp;
      </td>
      <td>指定勤務開始時間：<%= format_basic_info(@user.designation_work_start_time) %><br>
          指定勤務終了時間：<%= format_basic_info(@user.designation_work_end_time) %></td>
      <td colspan="3">基本時間：<%= format_basic_info(@user.basic_work_time) %></td>
      <td>初日<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>コード：<%= @user.staff_id %></td>
      <td></td>
      <td>出勤日数</td>
      <td>締め<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>