<% provide(:title, "拠点情報一覧") %>
<h1>拠点一覧</h1>

<table class= "table table-bordered table-condensed table-hover" id="bases">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>拠点番号</th>
      <th>拠点名</th>
      <th>拠点種類</th>
    </tr>
  </thead> 
  <tbody>

  <% @bases.each do |base| %>
    <tr class= "active">
    <div class="base-index">
      <td> <%= link_to "修正","#",class: "btn btn-primary" %></td>
      <td> <%= link_to "消去","#",class: "btn btn-primary" %></td>
      <td><%= base.number %></td>
      <td><%= base.name %></td>
      <td><%= base.information %></td>
    </div>  
  <% end%>
    </tr>
  </tbody>
</table>
<div class="container-fluid">
<div class="row">
<div class="col-sm-12>
<button type="button" class="btn">
<%= link_to "追加" ,new_basis_path,class: "btn btn-primary" %>
</button>
</div>
</div>
</div>