<% provide(:title, "拠点情報一覧") %>
<h1>拠点一覧</h1>

<table class= "table table-bordered table-condensed table-hover" id="bases">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>拠点番号</th>
      <th>拠点名</th>
      <th>拠点種類</th>
    </tr>
  </thead> 

  <tbody>
    <% @bases.each do |base| %>
      <tr class= "active">
        <div class="base-index">
          <td> <%= link_to "修正",edit_basis_path(base), remote: true, class: "btn btn-primary" %></td>
          <td> <%= link_to "消去",base, method: :delete, data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %></td>
          <td><%= base.number %></td>
          <td><%= base.name %></td>
          <td><%= base.information %></td>
        </div>  
      </tr>
    <% end %>
  </tbody>
</table>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <%= link_to "拠点情報の追加" ,bases_path, remote: true, class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div id="new" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="edit" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
