<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">残業申請</h1>
    </div>
    <div class="modal-body">
      <%= form_with(model: @attendance , url: update_overtime_request_user_attendance_path(@user, @attendance) , method: :patch , local: true) do |f| %>
      
      <%= f.hidden_field :indicater_check_superior, :value => "申請中" %>
        <table class="table table-bordered table-condensed overtime-table">
          <thead class="overtime_request">
            <th>日付</th>
            <th>曜日</th>
            <th>終了予定時間</th>
            <th>翌日</th>
            <th>業務処理内容</th>
            <th>指示者確認
              <div class="maru size_small black">       
                <div class="letter3">印</div>
              </div> 
            </th>
          </thead>
          <tbody class="line">
            <% css_class = 
            case $days_of_the_week[@attendance.worked_on.wday]
              when '土'
                'text-primary'
              when '日'
                'text-danger'
              end
              %>
            <td><%= l(@attendance.worked_on, format: :short) %></td>
            <td class="<%= css_class %>"><%= $days_of_the_week[@attendance.worked_on.wday] %></td>
            <td><%= f.time_select :overtime_finished_at, {include_blank: true}, {class: "form-control bootstrap-date-only-width",required: true } %></td>
            <td><%= f.check_box :tomorrow,id: "tomorrow" %></td>
            <td><%= f.text_field :overtime_work, {class: "form-control",required: true } %></td>
            <td><%= f.collection_select(:indicater_check, @superior, :name, :name, {prompt: ""}, {class: "form-control input-sm" ,required: true })%></td>
          </tbody>
        </table>
        <%= f.submit "変更を送信する", class: "btn btn-primary btn-block" %>
      <% end %>

    </div>
  </div>
</div>