<% provide(:title, @user.name) %>
<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>
<div>
  <h1>勤怠編集画面</h1>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出社</th>
        <th>退社</th>
        <th>翌日</th>
        <th>在社時間</th>
        <th>備考</th>
        <th>指示者確認<div class="maru size_small black">       
          <div class="letter3">印</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |day| %>
      <%= f.fields_for "attendances[]", day do |attendance| %>
        <% css_class = 
              case $days_of_the_week[day.worked_on.wday]
                when '土'
                  'text-primary'
                when '日'
                  'text-danger'
                end
        %>
        <tr>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td class="<%= css_class %>"><%= $days_of_the_week[day.worked_on.wday] %></td>
          <td><%= attendance.time_select :started_at, include_blank: true, class: "form-control" %></td>
          <td><%= attendance.time_select :finished_at, include_blank: true, class: "form-control" %></td>
          <td><%= check_box_tag :tomorrow %>
              <%= label_tag :tomorrow, "" %></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= attendance.text_field :note, class: "form-control" %></td>
          <td><%= f.select :boss,{'上長A':1, '上長B':2}, { include_blank: '選択して下さい'}, { class: 'form-control input-sm'} %></td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<div class="center">
  <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-primary" %>
  <%= f.submit "編集を保存する", class: "btn btn-lg btn-primary" %>
</div>
<%end%>
