<h1>勤怠ログ</h1>

<p>
  <%= form_with url: log_user_attendance_path, local: true, method: :get do |f| %>
  <%= f.date_select 'date-with-stylesheet', {use_month_numbers: true, discard_month: true, discard_day: true}, {class: "form-control bootstrap-date-only-width"} %>
  <%= f.date_select 'date-with-stylesheet', {use_month_numbers: true, discard_year: true, discard_day: true}, {class: "form-control bootstrap-date-only-width"} %>
    <%= f.submit "検索", class: "btn btn-lg btn-primary" %>
    <button type="button" class="btn btn-border-secondary">リセット</button>
  <% end %>
</p>

<div class = "log-table">
  <table class="table table-bordered table-condensed overtime-table">
    <thead class="log">
      <th>日付</th>
      <th>変更前出社時間</th>
      <th>変更前退社時間</th>
      <th>変更後出社時間</th>
      <th>変更後退社時間</th>
      <th>指示者</div> 
      <th>承認日</div> 
      </th>
    </thead>
    <tbody class="line">
      <% @attendances.each do |day| %>
        <tr class="center">
          <td><%= l(day.worked_on, format: :short) %></td>
          <td><%= day.started_before_at.try(:strftime,"%H:%M") %></td>
          <td><%= day.finished_before_at.try(:strftime,"%H:%M") %></td>
          <td><%= day.started_edit_at.try(:strftime,"%H:%M") %></td>
          <td><%= day.finished_edit_at.try(:strftime,"%H:%M") %></td>
          <td><%= day.indicater_check_edit %></td>
          <td><%= l(day.updated_at, format: :md) %></td>
        </tr>
      <% end %>  
    </tbody>
  </table>
</div>
